<form action="//formspree.io/shane@shanelogsdon.com" method="post">
  <input type="hidden" name="_next" value="http://www.kristineandshane.com/thanks-for-your-rsvp/" />
  <input type="hidden" name="_subject" value="New RSVP!" />
  <input type="hidden" name="_cc" value="kristine.dauer@gmail.com" />
  <input type="text" name="name" placeholder="Your name" />
  <input type="email" name="email" placeholder="Your email" />
  Number of people from your party attending:
  <input type="test" name="people-attending" placeholder="1, 2, etc." />
  <input type="submit" value="RSVP" />
</form>
